---
import type { MarkdownInstance } from "astro";
import PostListItem from "~/src/components/PostListItem.astro";
import BaseLayout from "~/src/layouts/BaseLayout.astro";
import type { Post } from "~/src/types/Post";
import { getTags, normalizeTag } from "~/src/utils/tags";

export async function getStaticPaths() {
  const posts = await Astro.glob<Post>("../posts/**/*.md");
  const tags = await getTags(posts);

  return Object.entries(tags).map(([tag, count]) => ({
    params: {
      tag,
    },
    props: {
      count,
      posts: posts.filter((post) => post.frontmatter.tags.map(normalizeTag).includes(tag)),
    },
  }));
}

const { tag } = Astro.params;
const { count, posts } = Astro.props as {
  count: number;
  posts: MarkdownInstance<Post>[];
};
---

<BaseLayout title={`${tag} | Dylan Paulus`} description={`A tags list for ${tag}`}>
  <section
    id="main-content"
    tab-index="-1"
    class="flex flex-col max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl mx-auto mt-8"
  >
    <div class="flex items-center">
      <h2 class="flex my-0 text-xl">{tag}</h2>
      <p class="flex ml-4 my-0">- {count} article{count !== 1 && "s"}</p>
    </div>

    <div class="mt-8">{posts.map((post) => <PostListItem data={post} />)}</div>
  </section>
</BaseLayout>
